.container{
  background-color: #E5EAF1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone_container{
   height: 100%;
   display: flex;
   width: 18.75rem;
   background-color:rgb(244,246,249);
  border-radius: 20px;
  padding: 1%;
   flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
 
}
.header{
  display: flex;
   background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  flex-direction: column;
  padding: 0 2%;
}
.top-notch {
  width: 100px;
  height: 30px;
  background-color: #F5F7FA;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 10px 10px;
}
.notification{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 1% 2%;
  background-color: #fff;
}

.bar {
  display: flex;
  flex-direction: row;
  width: 25%;
  gap: 0.5rem;
}

.main_container{
display: flex;
flex-direction: column;
margin: 2% 0;
height: 30rem;
align-items: center;
}

.btc-container{
  display: flex;
  width: 80%;
  height: 8.9rem;
  background-color: #FFFFFF;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.chart-container{
  display: flex;
  width: 80%;
  height:10rem;
  background-color: #ffff;
  margin-top: 50px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.car{
  display: flex;
  width: 80%;
  height: 7.5rem;
  margin-top: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;

  
}
.buyBtc{
  height: 60%;
  width: 40%;
  display: flex;
  background-color: #FFFFFF;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.buybtcSub{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.sellBtc{
  height: 60%;
  width: 40%;
  display: flex;
  background-color: #FFFFFF;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.sellbtcSub{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.dollarIconOne{
   color: #1c84f3;
   font-size: 24px;
}
.dollarIconTwo{
  color: #FC3598;
  font-size: 24px;
}
.buybtctext, .sellbtctext{
  color: #939BA4;
  font-size: 12px;
}


.footer_nav{
   height: 100px;
  display: flex;
  flex-direction: row; 
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
  background-color: #FFFFFF;
}

.footer_nav ul{
  display: flex;
  list-style: none;
  height: 80%;
  width: 100%;
   justify-content: space-around; 
  align-items: center;
  margin-left: -2rem;

}

.powerbutton{
  width: 80px;
  height: 5px;
  background-color: #AEB8C4;
  position: absolute;
   bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  
}

.footer_nav li{
  display: flex;
  color: #B2BCC7;
  
 
}




